[submodule ".config/lf"]
	path = .config/lf
	url = https://github.com/gokcehan/lf

[submodule ".config/suckless/countdown"]
	path = .config/suckless/countdown
	url = https://github.com/joestandring/countdown
[submodule ".config/herbe"]
	path = .config/herbe
	url = https://github.com/dudik/herbe
